*.sw*
*~
.sass-cache/
build/
vendor/
node_modules/
platforms/
plugins/
plugins/*
.idea
nbproject/
nbproject/**/*
nbproject/private/private.xml
npm-debug.log
deployment
deployment/*
.DS_Store
resources/*
package.json
config.xml
src/assets/jsons/servers.json
Gruntfile.js
