<ion-modal-view>
  <ion-content>
    <div class="card">
      <div class="item item-divider text-center">
        <b>  Post your offer </b>
      </div>

      <div class="list">
        <form ng-submit="monetaryMarket.getOffers()">
          <label class="item item-input item-select">
            <div class="input-label">
              Offered currency
            </div>
            <select class="maxWidth" ng-model="monetaryOffers.offeredCurrencyId" ng-options="countryId as currency.nameAndCurrency for (countryId, currency) in monetaryOffers.currienciesList">
            </select>
          </label>

          <label class="item item-input item-select">
            <div class="input-label">
              Buy currency
            </div>
            <select class="maxWidth" ng-model="monetaryOffers.buyCurrencyId" ng-options="countryId as currency.nameAndCurrency for (countryId, currency) in monetaryOffers.currienciesList">
            </select>
          </label>


          <a class="item item-icon-left" href="#">
            <i class="icon icon-wallet"></i> Your money
            <span class="badge badge-positive">{{monetaryOffers.money[monetaryOffers.offeredCurrencyId].ammount | number : 2}} {{monetaryOffers.currienciesList[monetaryOffers.offeredCurrencyId].currencyName}}</span>
          </a>
          <label class="item item-input">
            <input type="number" placeholder="Offered amount" ng-model="monetaryOffers.amount" min="0.0" max="{{monetaryOffers.money[monetaryMarket.offeredCurrencyId].ammount}}" name="name" placeholder="">
          </label>
          <a class="item item-icon-left" href="#">
            <i class="icon icon-exchange"></i> Exchange rate 1 {{monetaryOffers.currienciesList[monetaryOffers.offeredCurrencyId].currencyName}} = {{monetaryOffers.ratio }} {{monetaryOffers.currienciesList[monetaryOffers.buyCurrencyId].currencyName}}
          </a>

          <label class="item item-input">
            <input type="number" placeholder="0" ng-model="monetaryOffers.ratio" min="0.0" name="name" placeholder="">
          </label>
          <span class="item">
            <div class="button-bar">
              <button class="button icon-uniF476 button-balanced button-bar" ng-click="monetaryOffers.createNew()">
              Post new offer
              </button>
            </div>
          </span>
          <div class="row">
            <div class="col">
            <a class="button button-positive button-full icon-uniF472"  ng-click="monetaryOffers.closeOfferModal()" > Back</a>
            </div>
            <div class="col col-67">
            <a class="button button-positive button-full icon-forward" ng-click="monetaryOffers.swapCurriencies()"> Swap Curriencies</a>
          </div>
          </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
