@font-face {
  font-family: "esim_font";
  src: url("../fonts/esim_font.eot?v=2.0.4");
  src: url("../fonts/esim_font.eot?v=2.0.4#iefix") format("embedded-opentype"),
        url("../fonts/esim_font.ttf?v=2.0.4") format("truetype"),
        url("../fonts/esim_font.woff?v=2.0.4") format("woff"),
        url("../fonts/esim_font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.only-icon>[class*="icon-"] {
  padding: 0;
}
[class^="icon-"].last-icon, [class*=" icon-"].last-icon {
  padding-right: 0;
  padding-left: .4em;
}
.blank-icon>[class*="icon-"], .blank-icon>b {
  color: #888;
}
.active-icon {
  color: #f67a44
}
.active-icon>[class*="icon-"], .active-icon>b {
  color: #f67a44;
}
[class^="icon-"], [class*=" icon-"], #voteButton, #subButton, #unsubButton {
  font-family: 'esim_font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1.1em;
  padding-right: .4em;
  cursor: default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.icon-IE:before { content: "\EA01" }
.icon-absorbed:before { content: "\EA02" }
.icon-accessibility:before { content: "\EA03" }
.icon-addfriend:before { content: "\EA04" }
.icon-affiliate:before { content: "\EA05" }
.icon-airplane:before { content: "\EA06" }
.icon-airplane2:before { content: "\EA07" }
.icon-alert:before { content: "\EA08" }
.icon-android:before { content: "\EA09" }
.icon-apple:before { content: "\EA0A" }
.icon-appointment:before { content: "\EA0B" }
.icon-archery-target:before { content: "\EA0C" }
.icon-avatarIcon:before { content: "\EA0D" }
.icon-awstats:before { content: "\EA0E" }
.icon-bag:before { content: "\EA0F" }
.icon-bandage_size_a_item:before { content: "\EA10" }
.icon-bandage_size_b_item:before { content: "\EA11" }
.icon-bandage_size_c_item:before { content: "\EA12" }
.icon-bandage_size_d_item:before { content: "\EA13" }
.icon-bandage_size_e_item:before { content: "\EA14" }
.icon-bandage_size_f_item:before { content: "\EA15" }
.icon-bank:before { content: "\EA16" }
.icon-barchart:before { content: "\EA17" }
.icon-bookmark:before { content: "\EA18" }
.icon-brain:before { content: "\EA19" }
.icon-bread:before { content: "\EA1A" }
.icon-bubbles-2:before { content: "\EA1B" }
.icon-bubbles-3:before { content: "\EA1C" }
.icon-bubbles:before { content: "\EA1D" }
.icon-bubbles2:before { content: "\EA1E" }
.icon-bubbles3:before { content: "\EA1F" }
.icon-bunkerMinus:before { content: "\EA20" }
.icon-bunkerPlus:before { content: "\EA21" }
.icon-bunker_item:before { content: "\EA22" }
.icon-camouflage_i_item:before { content: "\EA23" }
.icon-camouflage_ii_item:before { content: "\EA24" }
.icon-camouflage_iii_item:before { content: "\EA25" }
.icon-cannon-shot:before { content: "\EA26" }
.icon-cannon:before { content: "\EA27" }
.icon-cart:before { content: "\EA28" }
.icon-cash:before { content: "\EA29" }
.icon-certificate:before { content: "\EA2A" }
.icon-certificate2:before { content: "\EA2B" }
.icon-chat:before { content: "\EA2C" }
.icon-checkmark:before { content: "\EA2D" }
.icon-chrome:before { content: "\EA2E" }
.icon-comment:before { content: "\EA2F" }
.icon-comment2:before { content: "\EA30" }
.icon-comment3:before { content: "\EA31" }
.icon-comment4:before { content: "\EA32" }
.icon-comment5:before { content: "\EA33" }
.icon-comment6:before { content: "\EA34" }
.icon-confused:before { content: "\EA35" }
.icon-contact:before { content: "\EA36" }
.icon-cool:before { content: "\EA37" }
.icon-createfile:before { content: "\EA38" }
.icon-crit1:before { content: "\EA39" }
.icon-crit10:before { content: "\EA3A" }
.icon-crit25:before { content: "\EA3B" }
.icon-critic1:before { content: "\EA3C" }
.icon-critic10:before { content: "\EA3D" }
.icon-critic25:before { content: "\EA3E" }
.icon-critical1:before { content: "\EA3F" }
.icon-critical2:before { content: "\EA40" }
.icon-critical3:before { content: "\EA41" }
.icon-crown:before { content: "\EA42" }
.icon-css3:before { content: "\EA43" }
.icon-cupcake:before { content: "\EA44" }
.icon-dagger:before { content: "\EA45" }
.icon-defense-system:before { content: "\EA46" }
.icon-defense_system:before { content: "\EA47" }
.icon-deletefile:before { content: "\EA48" }
.icon-diamonds:before { content: "\EA49" }
.icon-director:before { content: "\EA4A" }
.icon-document:before { content: "\EA4B" }
.icon-dollar2:before { content: "\EA4C" }
.icon-domain:before { content: "\EA4D" }
.icon-domain_1:before { content: "\EA4E" }
.icon-dsPlus:before { content: "\EA4F" }
.icon-earth:before { content: "\EA50" }
.icon-earth2:before { content: "\EA51" }
.icon-email2:before { content: "\EA52" }
.icon-emailexport:before { content: "\EA53" }
.icon-emailforward:before { content: "\EA54" }
.icon-emailimport:before { content: "\EA55" }
.icon-emergency:before { content: "\EA56" }
.icon-error-2:before { content: "\EA57" }
.icon-error:before { content: "\EA58" }
.icon-error2:before { content: "\EA59" }
.icon-estate:before { content: "\EA5A" }
.icon-euro:before { content: "\EA5B" }
.icon-euro2:before { content: "\EA5C" }
.icon-evil:before { content: "\EA5D" }
.icon-extra_spa_item:before { content: "\EA5E" }
.icon-extra_vacations_item:before { content: "\EA5F" }
.icon-eye-blocked:before { content: "\EA60" }
.icon-eye:before { content: "\EA61" }
.icon-facebook:before { content: "\EA62" }
.icon-factory:before { content: "\EA63" }
.icon-fightIcon:before { content: "\EA64" }
.icon-firefox:before { content: "\EA65" }
.icon-firstaid:before { content: "\EA66" }
.icon-flag:before { content: "\EA67" }
.icon-flag2:before { content: "\EA68" }
.icon-flag3:before { content: "\EA69" }
.icon-food:before { content: "\EA6A" }
.icon-forward:before { content: "\EA6B" }
.icon-friends:before { content: "\EA6C" }
.icon-gift-2:before { content: "\EA6D" }
.icon-gift:before { content: "\EA6E" }
.icon-gift2:before { content: "\EA6F" }
.icon-googleplus:before { content: "\EA70" }
.icon-grain:before { content: "\EA71" }
.icon-grin:before { content: "\EA72" }
.icon-gunshot:before { content: "\EA73" }
.icon-hammer:before { content: "\EA74" }
.icon-happy:before { content: "\EA75" }
.icon-helicopter:before { content: "\EA76" }
.icon-helmetQ1:before { content: "\EA77" }
.icon-helmetQ2:before { content: "\EA78" }
.icon-helmetQ3:before { content: "\EA79" }
.icon-helmetQ4:before { content: "\EA7A" }
.icon-helmetQ5:before { content: "\EA7B" }
.icon-helmetQ6:before { content: "\EA7C" }
.icon-home-2:before { content: "\EA7D" }
.icon-home:before { content: "\EA7E" }
.icon-home2:before { content: "\EA7F" }
.icon-hospital:before { content: "\EA80" }
.icon-house:before { content: "\EA81" }
.icon-hp0:before { content: "\EA82" }
.icon-html5:before { content: "\EA83" }
.icon-info-2:before { content: "\EA84" }
.icon-info:before { content: "\EA85" }
.icon-info2:before { content: "\EA86" }
.icon-insertpictureleft:before { content: "\EA87" }
.icon-iron:before { content: "\EA88" }
.icon-jason:before { content: "\EA89" }
.icon-java:before { content: "\EA8A" }
.icon-jquery:before { content: "\EA8B" }
.icon-jqueryui:before { content: "\EA8C" }
.icon-law:before { content: "\EA8D" }
.icon-lightning2:before { content: "\EA8E" }
.icon-locationMinus:before { content: "\EA8F" }
.icon-locationPlus:before { content: "\EA90" }
.icon-lock:before { content: "\EA91" }
.icon-lucky_charmQ1:before { content: "\EA92" }
.icon-lucky_charmQ2:before { content: "\EA93" }
.icon-lucky_charmQ3:before { content: "\EA94" }
.icon-lucky_charmQ4:before { content: "\EA95" }
.icon-lucky_charmQ5:before { content: "\EA96" }
.icon-lucky_charmQ6:before { content: "\EA97" }
.icon-map:before { content: "\EA98" }
.icon-maps:before { content: "\EA99" }
.icon-medal:before { content: "\EA9A" }
.icon-medkit_item:before { content: "\EA9B" }
.icon-miss:before { content: "\EA9C" }
.icon-muPlus:before { content: "\EA9D" }
.icon-muffin:before { content: "\EA9E" }
.icon-neutral:before { content: "\EA9F" }
.icon-new:before { content: "\EAA0" }
.icon-news:before { content: "\EAA1" }
.icon-newspaper:before { content: "\EAA2" }
.icon-newtab:before { content: "\EAA3" }
.icon-normal1:before { content: "\EAA4" }
.icon-normal2:before { content: "\EAA5" }
.icon-normal3:before { content: "\EAA6" }
.icon-offhandQ1:before { content: "\EAA7" }
.icon-offhandQ2:before { content: "\EAA8" }
.icon-offhandQ3:before { content: "\EAA9" }
.icon-offhandQ4:before { content: "\EAAA" }
.icon-offhandQ5:before { content: "\EAAB" }
.icon-offhandQ6:before { content: "\EAAC" }
.icon-oil:before { content: "\EAAD" }
.icon-opera:before { content: "\EAAE" }
.icon-overdose:before { content: "\EAAF" }
.icon-pain_dealer_10_h_item:before { content: "\EAB0" }
.icon-pain_dealer_1_h_item:before { content: "\EAB1" }
.icon-pain_dealer_25_h_item:before { content: "\EAB2" }
.icon-pantsQ1:before { content: "\EAB3" }
.icon-pantsQ2:before { content: "\EAB4" }
.icon-pantsQ3:before { content: "\EAB5" }
.icon-pantsQ4:before { content: "\EAB6" }
.icon-pantsQ5:before { content: "\EAB7" }
.icon-pantsQ6:before { content: "\EAB8" }
.icon-personal_armorQ1:before { content: "\EAB9" }
.icon-personal_armorQ2:before { content: "\EABA" }
.icon-personal_armorQ3:before { content: "\EABB" }
.icon-personal_armorQ4:before { content: "\EABC" }
.icon-personal_armorQ5:before { content: "\EABD" }
.icon-personal_armorQ6:before { content: "\EABE" }
.icon-piggybank:before { content: "\EABF" }
.icon-pill:before { content: "\EAC0" }
.icon-pistol-gun:before { content: "\EAC1" }
.icon-place2add:before { content: "\EAC2" }
.icon-place2delete:before { content: "\EAC3" }
.icon-podium:before { content: "\EAC4" }
.icon-price:before { content: "\EAC5" }
.icon-price2:before { content: "\EAC6" }
.icon-raceflag:before { content: "\EAC7" }
.icon-reademail:before { content: "\EAC8" }
.icon-redo:before { content: "\EAC9" }
.icon-removefriend:before { content: "\EACA" }
.icon-reply:before { content: "\EACB" }
.icon-rock:before { content: "\EACC" }
.icon-rocket-2:before { content: "\EACD" }
.icon-rocket:before { content: "\EACE" }
.icon-rocket2:before { content: "\EACF" }
.icon-route:before { content: "\EAD0" }
.icon-rss:before { content: "\EAD1" }
.icon-sad:before { content: "\EAD2" }
.icon-safari:before { content: "\EAD3" }
.icon-sc:before { content: "\EAD4" }
.icon-scales:before { content: "\EAD5" }
.icon-scope:before { content: "\EAD6" }
.icon-scope2:before { content: "\EAD7" }
.icon-search:before { content: "\EAD8" }
.icon-sewerMinus:before { content: "\EAD9" }
.icon-sewerPlus:before { content: "\EADA" }
.icon-sewer_guide_item:before { content: "\EADB" }
.icon-shield:before { content: "\EADC" }
.icon-shocked:before { content: "\EADD" }
.icon-shoesQ1:before { content: "\EADE" }
.icon-shoesQ2:before { content: "\EADF" }
.icon-shoesQ3:before { content: "\EAE0" }
.icon-shoesQ4:before { content: "\EAE1" }
.icon-shoesQ5:before { content: "\EAE2" }
.icon-shoesQ6:before { content: "\EAE3" }
.icon-skull:before { content: "\EAE4" }
.icon-smiley:before { content: "\EAE5" }
.icon-spaMinus:before { content: "\EAE6" }
.icon-spaPlus:before { content: "\EAE7" }
.icon-spaceinvaders:before { content: "\EAE8" }
.icon-star-2:before { content: "\EAE9" }
.icon-star-o:before { content: "\EAEA" }
.icon-star:before { content: "\EAEB" }
.icon-star2:before { content: "\EAEC" }
.icon-star3:before { content: "\EAED" }
.icon-statistics:before { content: "\EAEE" }
.icon-stats:before { content: "\EAEF" }
.icon-steroidsMinus:before { content: "\EAF0" }
.icon-steroidsPlus:before { content: "\EAF1" }
.icon-steroids_item:before { content: "\EAF2" }
.icon-stocks:before { content: "\EAF3" }
.icon-stone-block:before { content: "\EAF4" }
.icon-stone:before { content: "\EAF5" }
.icon-syringe:before { content: "\EAF6" }
.icon-tank-2:before { content: "\EAF7" }
.icon-tank:before { content: "\EAF8" }
.icon-tank2:before { content: "\EAF9" }
.icon-tankMinus:before { content: "\EAFA" }
.icon-tankPlus:before { content: "\EAFB" }
.icon-tank_item:before { content: "\EAFC" }
.icon-target:before { content: "\EAFD" }
.icon-thumbsdown:before { content: "\EAFE" }
.icon-thumbsup:before { content: "\EAFF" }
.icon-ticket:before { content: "\EB00" }
.icon-tie:before { content: "\EB01" }
.icon-timeline:before { content: "\EB02" }
.icon-tongue:before { content: "\EB03" }
.icon-toofast:before { content: "\EB04" }
.icon-tools:before { content: "\EB05" }
.icon-trainIcon:before { content: "\EB06" }
.icon-trash:before { content: "\EB07" }
.icon-trophy:before { content: "\EB08" }
.icon-trophy2:before { content: "\EB09" }
.icon-twitter:before { content: "\EB0A" }
.icon-undo:before { content: "\EB0B" }
.icon-uniF005:before { content: "\EB0C" }
.icon-uniF006:before { content: "\EB0D" }
.icon-uniF470:before { content: "\EB0E" }
.icon-uniF471:before { content: "\EB0F" }
.icon-uniF472:before { content: "\EB10" }
.icon-uniF473:before { content: "\EB11" }
.icon-uniF474:before { content: "\EB12" }
.icon-uniF475:before { content: "\EB13" }
.icon-uniF476:before { content: "\EB14" }
.icon-uniF477:before { content: "\EB15" }
.icon-uniF478:before { content: "\EB16" }
.icon-uniF479:before { content: "\EB17" }
.icon-unlock:before { content: "\EB18" }
.icon-uptime:before { content: "\EB19" }
.icon-user-2:before { content: "\EB1A" }
.icon-user-3:before { content: "\EB1B" }
.icon-user-add:before { content: "\EB1C" }
.icon-user:before { content: "\EB1D" }
.icon-user2:before { content: "\EB1E" }
.icon-user3:before { content: "\EB1F" }
.icon-users:before { content: "\EB20" }
.icon-vacationMinus:before { content: "\EB21" }
.icon-vacationPlus:before { content: "\EB22" }
.icon-value:before { content: "\EB23" }
.icon-vendetta:before { content: "\EB24" }
.icon-visionQ1:before { content: "\EB25" }
.icon-visionQ2:before { content: "\EB26" }
.icon-visionQ3:before { content: "\EB27" }
.icon-visionQ4:before { content: "\EB28" }
.icon-visionQ5:before { content: "\EB29" }
.icon-visionQ6:before { content: "\EB2A" }
.icon-vk:before { content: "\EB2B" }
.icon-voteButton:before { content: "\EB2C" }
.icon-voteIcon:before { content: "\EB2D" }
.icon-wallet:before { content: "\EB2E" }
.icon-warmedal:before { content: "\EB2F" }
.icon-weapon:before { content: "\EB30" }
.icon-weaponMinus:before { content: "\EB31" }
.icon-weaponPlus:before { content: "\EB32" }
.icon-weaponQ0:before { content: "\EB33" }
.icon-weaponQ1:before { content: "\EB34" }
.icon-weaponQ2:before { content: "\EB35" }
.icon-weaponQ3:before { content: "\EB36" }
.icon-weaponQ4:before { content: "\EB37" }
.icon-weaponQ5:before { content: "\EB38" }
.icon-weaponQ6:before { content: "\EB39" }
.icon-weapon_upgradeQ0:before { content: "\EB3A" }
.icon-weapon_upgradeQ1:before { content: "\EB3B" }
.icon-weapon_upgradeQ2:before { content: "\EB3C" }
.icon-weapon_upgradeQ3:before { content: "\EB3D" }
.icon-weapon_upgradeQ4:before { content: "\EB3E" }
.icon-weapon_upgradeQ5:before { content: "\EB3F" }
.icon-wheat:before { content: "\EB40" }
.icon-windows:before { content: "\EB41" }
.icon-wink:before { content: "\EB42" }
.icon-wondering:before { content: "\EB43" }
.icon-wood:before { content: "\EB44" }
.icon-workIcon:before { content: "\EB45" }
.icon-xp1:before { content: "\EB46" }
.icon-xp5:before { content: "\EB47" }
.icon-zoomin:before { content: "\EB48" }
.icon-zoomout:before { content: "\EB49" }
