<ion-side-menus>
  <ion-side-menu side="left" class="side-menu">
    <ion-content>
      <ion-list>
        <ion-item class="item-icon-left" nav-clear menu-close href="#/main/main">
          <i class="icon icon-home"></i><span class="move">Home</span>
        </ion-item>
        <!-- Daily tasks group -->
        <ion-item class="item-icon-left item-icon-right item-stable" ng-click="main.toggleGroup('dailyTasks')" ng-class="{active: main.isGroupShown('dailyTasks')}">
          <i class="icon" ng-class="main.isGroupShown('dailyTasks') ? 'ion-minus' : 'ion-plus'"></i><span>Daily Tasks</span>
          <i class="icon ion-chevron-right"></i>
        </ion-item>
        <ion-item class="item-accordion item-icon-left" nav-clear menu-close href="#/main/train" ng-show="main.isGroupShown('dailyTasks')" ng-click="main.cloaseGroups()">
          <i class="icon icon-scope"></i><span>Train</span>
        </ion-item>
        <ion-item class="item-accordion item-icon-left" nav-clear menu-close href="#/main/work" ng-show="main.isGroupShown('dailyTasks')" ng-click="main.cloaseGroups()">
          <i class="icon icon-user-3"></i><span>Work</span>
        </ion-item>
        <ion-item class="item-accordion item-icon-left" nav-clear menu-close href="#/main/fightList" ng-show="main.isGroupShown('dailyTasks')" ng-click="main.cloaseGroups()">
          <i class="icon icon-cannon"></i><span>Battles</span>
        </ion-item>
        <!-- Daily tasks group end -->
        <!-- Markets group -->
        <ion-item class="item-icon-left item-icon-right item-stable" ng-click="main.toggleGroup('markets')" ng-class="{active: main.isGroupShown('markets')}">
          <i class="icon" ng-class="main.isGroupShown('markets') ? 'ion-minus' : 'ion-plus'"></i><span>Markets</span>
          <i class="icon ion-chevron-right"></i>
        </ion-item>
        <ion-item class="item-accordion item-icon-left" nav-clear menu-close href="#/main/markets/jobMarket" ng-show="main.isGroupShown('markets')" ng-click="main.cloaseGroups()">
          <i class="icon icon-tie"></i><span>Job Market</span>
        </ion-item>
        <ion-item class="item-accordion item-icon-left" nav-clear menu-close href="#/main/markets/productMarket" ng-show="main.isGroupShown('markets')" ng-click="main.cloaseGroups()">
          <i class="icon icon-diamonds"></i><span>Product Market</span>
        </ion-item>
        <ion-item class="item-accordion item-icon-left" nav-clear menu-close href="#/main/markets/monetaryMarket" ng-show="main.isGroupShown('markets')" ng-click="main.cloaseGroups()">
          <i class="icon icon-cash"></i><span>Monetary Market</span>
        </ion-item>
        <!-- Markets group end -->
        <ion-item class="item-icon-left" nav-clear menu-close href="#/main/inventory">
          <i class="icon icon-bag"></i><span>Your inventory</span>
        </ion-item>
        <!-- <ion-item class="item-icon-left" nav-clear menu-close href="#/main/specialItem">
          <i class="icon icon-lightning2"></i><span>Special Items</span>
        </ion-item> -->
        <ion-item class="item-icon-left" nav-clear menu-close href="#/main/shouts">
          <i class="icon icon-bubbles2"></i><span>Local shouts</span>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close href="#/main/travelList">
          <i class="icon icon-airplane"></i><span>Travel</span>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close href="#/main/articles">
          <i class="icon icon-newspaper"></i><span>Articles</span>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close href="#/main/markets/auctions">
          <i class="icon icon-law"></i><span>Auctions</span>
        </ion-item>
        <ion-item>
          Copyright  <br>
          &copy; Massive Online Games ftz
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
  <ion-side-menu-content>
    <ion-header-bar align-title="center" class="bar-positive">
      <div class="buttons">
        <button menu-toggle="left" class="button button-icon icon ion-navicon-round"></button>
      </div>
      <h1 class="title"></h1>
      <div class="buttons">
        <a href="#/main/inbox/messages" class="button button-icon icon ion-chatbox-working"></a>
      </div>
    </ion-header-bar>

    <ion-content>
      <div ui-view></div>
    </ion-content>

    <ion-footer-bar  align-title="right" class="bar-positive">
      <div ng-if="loggedPlayer.username" class="buttons">
        <button class="button" ng-click="main.logout()">Logout</button>
      </div>
      <h1 ng-if="loggedPlayer.username" class="title align-right">Logged in as: {{loggedPlayer.username}} ({{server.name}})</h1>
      <div ng-hide="loggedPlayer.username"  class="title align-right">&copy; Liberty games interactive</div>
    </ion-footer-bar>

  </ion-side-menu-content>
</ion-side-menus>
