<ion-modal-view>
  <ion-content>
    <div class="list card">
      <div class="item item-divider text-center">
        Friends:
      </div>
      <div class="row" ng-repeat="friend in profile.friends" ng-click="profile.showProfile(friend.id)">
        <!-- <a class="item item-left" href="#/main/profile/{{vote.id}}"> -->
        <div class="col col-10">
          <img ng-src="{{friend.avatar.SMALL}}">
        </div>
        <div class="col col-offset-10">
          <h4><i ng-if="friend.premium" class="icon icon-star2 yellow"></i>
                     {{friend.username}} <img src="assets/img/flags/small/{{friend.countryName | flags}}.png"></h4>
        </div>

        <!-- </a> -->
      </div>
      <ion-infinite-scroll ng-if="profile.canGetMoreFriends()" on-infinite="profile.getMore()">
      </ion-infinite-scroll>
      <div class="row">
        <div class="col">
          <button class="button icon-left icon-uniF472 button-positive" ng-click="profile.closeFriendsModal()">
            Back
          </button>
        </div>
      </div>
  </ion-content>
</ion-modal-view>
